[Desktop Entry]
Name=Dankoiptv
Comment=Advanced IPTV Player for Linux Mint
Exec=dankoiptv
Icon=dankoiptv
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
StartupNotify=true
